{% extends "accounts/bash.html" %}


{% block content%}


<br/>
<div class="container" style="margin-left: 40%">
	{{error}}
<form method="POST" action = "{% url 'signup_view' %}">

	{% csrf_token%}
	username:<br/> 
	<input type="text" name="username">
	<br/>
	<br/>
	password: <br/>
	<input type="password" name="password">
	<br />
	<br/>
	confirm_password: <br />
	<input type="password" name="confirm_password">
	<br/>
	<br/>
	<input type="submit" name="btnsubmit" value="signup !" class="btn btn-primary">



</form>
</div>

{% endblock %}